body {
	font-family: "Arial", sans-serif;
	min-width: 650px;
	
}
header {
	position: fixed;
	min-width: 650px;
	width: 100%;
	background: #e6e8fa url(header-img.png) no-repeat top right;
	background-size: 270px;
	border-bottom: 3px solid #afeeee;
	font-size: 36px;
	height: 75px;
	line-height: 70px;
}
aside {
	margin-top: 78px;
	position: fixed;
	background: #dbe9f4;
	width: 150px;
	height: 2000px;
	border-right: 2px solid #96ded1;
}
aside li, a {
	color: #4f86f7;
}
aside .lin {
	list-style-type: none;
	border-bottom: 1px solid #96ded1;
	margin: 20px;
	margin-left: -20px;
}
main {
	padding: 200px;
	padding-right: 0px;
}
.main {
	margin-right: 10%;
	border: 1px solid #1c1cf0;
	padding: 20px;
}
.padLa {
	padding-left: 10%;
}
